:root {
  font-family: "Poppins", sans-serif;
  --blue: #1090cb;
  --purple: #4628a4;
  --darkblue: #00329b;
  --brown: #252525;
  --orange: #bb3800;
  --lightgreen: #5fc300;
}
body {
  margin: 0;
  padding: 0;
}
